---
import Resume from '../layouts/Resume.astro';
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<main style='display: flex; flex-direction: column; gap: 1rem;'>
		<Resume />
	</main>
</BaseLayout>
