---
import Card from '../components/Card.astro';
import Profile from '../components/Profile.astro';
import Resume from '../layouts/Resume.astro';
import type { RepoObject } from '../types/global';
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';


---


<BaseLayout>
	<main>
		<Resume />
	</main>
</BaseLayout>
