---
import ContactCard from './ContactCard.astro';
import { CONTACTS } from '../data/contacts';
import { t } from '@i18n/index';
const titleId = 'contact-title';
const title = t('contact.title');
---

<section
	aria-labelledby={titleId}
	itemscope
	itemtype='https://schema.org/Person'
	id='Contact'
	class='section'
>
	<meta itemprop='name' content='German Montero Ramirez' />
	<h2 id={titleId}>{title}</h2>

	<div class='grid grid-3'>
		{CONTACTS.map((c) => <ContactCard item={c} />)}
	</div>
</section>

<style>
	@media (max-width: 1024px) {
		.grid {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	@media (max-width: 640px) {
		.grid {
			grid-template-columns: 1fr;
		}
	}
</style>
