---
import { TECH } from '../data/tech';
import TechGrid from './TechGrid.astro';
---

<section id='habilidades' class='section' data-label='Habilidades'>
	<TechGrid items={TECH} title='Habilidades' columns={5} compact />
</section>
