---
import { TECH } from '../data/tech';
import TechGrid from './TechGrid.astro';
---

<section id='habilidades' data-label='Habilidades'>
	<TechGrid items={TECH} title='Habilidades' columns={5} />
</section>
