---
export interface Props {
	class?: string;
	id?: string;
	'aria-label'?: string;
	'aria-labelledby'?: string;
}
const { class: className = '', ...attrs } = Astro.props as Props;
---

<section class={className} {...attrs}>
	<slot />
</section>
