.section {
    padding: 1rem;
}

.section__title {
    font-size: var(--fs-2xl);
    margin-bottom: var(--sp-4);
    color: var(--accent-color);
    /* font-size: 1.2rem; */
}

.section+.section {
    border-top: 1px solid var(--accent-color);
}