---
import Card from '../components/Card.astro';
import Profile from '../components/Profile.astro';
import Repository from '../components/Repository.astro';
import type { RepoObject } from '../types/global';
import { TECH } from '../data/tech';
import TechGrid from '../components/TechGrid.astro';
let profileImg = 'https://github.com/xdextx.png';
const response = await fetch(`${Astro.url}api/github-list.json`);
const repos: RepoObject[] = await response.json();
---

<style>
	.card-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		gap: 20px;
	}
	.card-container > * {
		flex: 1 1 30%;
	}
</style>
<section id='intro' data-label='Intro'>
	<Card title='German Montero Ramirez' class:list={['card-container']}>
		<Profile size='280px' source={profileImg} />
		<div>
			<p>
				Soy desarrollador de software con más de 6 años de experiencia,
				especializado en desarrollo Full Stack y apasionado por construir soluciones
				tecnológicas robustas y eficientes. A lo largo de mi carrera he trabajado
				con tecnologías como .NET Core, Spring Boot, Azure Functions y Angular,
				abarcando desde el diseño de bases de datos hasta la implementación de APIs
				y aplicaciones web modernas. Tengo conocimientos sólidos en lenguajes como
				Java, TypeScript, C# y SQL, así como experiencia en entornos cloud,
				metodologías ágiles (Scrum y Kanban), y pruebas automatizadas. Actualmente
				me encuentro en proceso de aprendizaje y perfeccionamiento en Server-Sent
				Events (SSE), Jasmine y Selenium para continuar expandiendo mis habilidades
				técnicas. Me apasiona mantenerme actualizado con nuevas tecnologías,
				adaptarme a diferentes entornos de desarrollo y participar en equipos
				colaborativos donde se impulsen soluciones de alto impacto.
			</p>
		</div>
	</Card>
</section>
<section id='habilidades' data-label='Habilidades'>
	<!-- make the items same width -->
	<TechGrid items={TECH} title='Habilidades' columns={5} />
</section>
<section id='experiencia' data-label='Experiencia'>
	<Card class:list={['card-container']} title='Experiencia laboral' higlight>
		<Card
			title='Full Stack Developer - SD Misiones de Costa Rica S. A (2022 - 2025)'
		>
			<ul>
				<li>Desarrollo de APIs en .NET Core.</li>
				<li>Optimización de bases de datos SQL.</li>
				<li>Desarrollo frontend con Angular y TypeScript.</li>
				<li>Uso de SSE para comunicación en tiempo real.</li>
			</ul>
		</Card>
		<Card
			title='Software Engineer - Plantas y Flores Ornamentales S.A. (2019 - 2020)'
		>
			<ul>
				<li>Desarrollo de aplicaciones web y de escritorio en .NET y ASP.NET.</li>
				<li>Desarrollo de APIs con C#, Node.js y JavaScript.</li>
				<li>Desarrollo móvil en Kotlin y Java.</li>
				<li>Administración de bases de datos SQL Server.</li>
			</ul>
		</Card>
	</Card>
</section>
<section id='proyectos' data-label='Proyectos'>
	<Card class:list={['card-container']} title='Proyectos' higlight>
		{repos.map((repo: RepoObject) => <Repository {...repo} />)}
	</Card>
</section>
<section id='contacto' data-label='Contacto'>
	<Card class:list={['card-container']} title='Contacto' higlight>
		<Card title='Email'>
			<p>germonram@gmail.com</p>
		</Card>
		<Card title='GitHub'>
			<a target='_blank' href='https://github.com/XDextX'
				>https://github.com/XDextX</a
			>
		</Card>
		<Card title='LinkedIn'>
			<a
				target='_blank'
				href='https://www.linkedin.com/in/german-montero-ramirez/'
			>
				https://www.linkedin.com/in/german-montero-ramirez/</a
			>
		</Card>
	</Card>
</section>
<script type='application/ld+json'>
	{
		"@context": "https://schema.org",
		"@type": "Person",
		"name": "German Montero Ramirez",
		"jobTitle": "Full-Stack Developer",
		"url": "https://portfolio-dext.vercel.app",
		"image": "https://portfolio-dext.vercel.app/images/profile.jpg", // o tu avatar de GitHub si lo obtienes por fetch
		"sameAs": [
			"https://www.linkedin.com/in/german-montero-ramirez/",
			"https://github.com/XDextX"
		],
		"email": "mailto:germonram@gmail.com",
		"telephone": "+50685287828",
		"address": {
			"@type": "PostalAddress",
			"addressLocality": "Jacó",
			"addressRegion": "Puntarenas",
			"addressCountry": "Costa Rica"
		}
	}
</script>
